# Core Vivado Project Files to IGNORE
*.runs/
*.cache/
*.gen/
*.logs/
*.sdk/
.Xil/
*.vitis/
# Ignores all generated source files within the sources directory
*.srcs/sources_1/ip/

# And the major generated directories:
*.runs/
*.cache/
*.gen/
*.logs/

# Output Files
*.bit
*.bin
*.sysdef
*.mcs

# Project status/history files
.Xil/
*.jou
*.log

# Custom IP Library files to ignore within the IP Repo
# (The ip_repo folder itself should be tracked)
*/.xfl/
*/xsim/
*/ip_cache/
*/.srcs/